

@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@700&display=swap');

*{
  
  font-family: 'Padauk', sans-serif !important;
   
}


#name,#contact,#address,#orderId{
  width: 55%;
  float:right;
}


#container{

  
  margin: 3% 30% 0% 30%;
  padding: 0%;
  height: 500px;
 
  background-image: url(./assets/pizza.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
 
}

.chatbot{
  background:rgb(221, 70, 95);
    padding: 2%;
    margin: 1%;
    float: left;
    width: 60%;
    border-radius:10px;
    color : rgb(255, 255, 255);
     font-size: larger;
     font-weight: 500;
}

.user{
    background: #05a127; 
    margin: 1%;
     padding: 2%;
    float: right;
     width: 60%;
     border-radius:10px;
     color : rgb(255, 255, 255);
     font-size: larger;
     font-weight: 500;
}

.btn{
    border: solid 1px ;
    border-radius: 9px;
    border-color: black;
    background: #dd5d08;
    float: right;
    width: 55%;
    padding: 2%;
    margin: 1.5%;
    cursor: pointer;
    font-size: larger;
     font-weight: 500;

}

.btn:hover{
   border: solid 1px ;
    border-radius: 9px;
    border-color: black;
    background: #5c2602;
    float: right;
    width: 55%;
    padding: 2%;
    margin: 1.5%;
    cursor: pointer;
    font-size: larger;
     font-weight: 500;
     color: white;
}
