<!--<div id="main-outer-div">

     <div id="messages">
     
     
     </div>
<div id="main-div">
    
<input #myinput type="text" id="user-input">
<button (click)="message(myinput.value)">Send</button>
</div>
</div>

-->

<div id="container"  >
     <div id="head">
          <span id="head-icon"></span>
          <span id="head-name">YoYo Pizza</span>
     </div>
     <div id="messages">
         


     </div>

     <div id="main-div">

          <input #myinput type="text" placeholder="Type here" id="user-input">
          <button (click)="message(myinput.value)">Send</button>
     </div>
</div>